<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('직원 정보 관리')"></div>
</th:block>

<head>
<!-- Sweet Alert css-->
<link href="/assets/libs/sweetalert2/sweetalert2.min.css"
	rel="stylesheet" type="text/css" />

</head>

<body>
	<div layout:fragment="content">
		<div
			th:replace="partials/page-title :: page-title('직원 관리','직원 정보 관리')"></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card" id="orderList">

					<div class="card-header border-0">
						<div class="row align-items-center gy-3">
							<div class="card-body" style="border-bottom: 2px dashed #d3d3d3;">
								<form>
									<!-- -------------------신규 직원 등록---------------------------- -->
									<div class="row g-3">
										<div class="col-xxl-3 col-sm-7">
											<a href="/join"
												class="btn btn-success add-btn d-flex align-items-center justify-content-center"
												id="create-btn"
												style="width: 60%; font-size: 18px; padding: 3px;"> <i
												class="ri-add-line align-bottom me-1"></i> 신규 직원 등록
											</a>
										</div>

										<!-- -------------------페이크---------------------------- -->
										<div class="col-xxl-3 col-sm-7">
											<div></div>
										</div>
										<!-- -------------------재직 퇴사 셀렉트---------------------------- -->
										<div class="col-xxl-1 col-sm-4">
											<div>
												<select class="form-control" data-choices
													data-choices-search-false name="choices-single-default"
													id="idStatus">
													<option value="">근무 상태</option>
													<option value="Pending" selected>재직</option>
													<option value="Inprogress">퇴사</option>
												</select>
											</div>
										</div>
										<!-- -------------------직원 정보 셀렉트---------------------------- -->
										<div class="col-xxl-1 col-sm-4">
											<div>
												<select class="form-control" data-choices
													data-choices-search-false name="choices-single-default"
													id="idPayment">
													<option value="">직원 정보</option>
													<option value="All" selected>전체</option>
													<option value="Mastercard">사번</option>
													<option value="Paypal">직원명</option>
													<option value="Visa">부서명</option>
													<option value="COD">직급명</option>
													<option value="COD">전화번호</option>
												</select>
											</div>
										</div>
										<!-- -------------------검색 입력란---------------------------- -->
										<div class="col-xxl-3 col-sm-5">
											<div class="search-box">
												<input type="text" class="form-control search"
													placeholder="검색어를 입력해 주세요."> <i
													class="ri-search-line search-icon"></i>
											</div>
										</div>
										<!-- -------------------검색 버튼---------------------------- -->
										<div class="col-xxl-1 col-sm-4">
											<div>
												<button type="button" class="btn btn-primary w-100"
													onclick="SearchData();"
													style="font-size: 18px; padding: 3px;">검색</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- -------------------목록---------------------------- -->
					<div class="card-body pt-0">
						<div>
							<div class="table-responsive table-card mb-1">
								<table class="table align-middle position-relative table-nowrap">
									<thead class="table-active">
										<tr>
											<th scope="col" style="text-align: center;">사번</th>
											<th scope="col" style="text-align: center;">직원명</th>
											<th scope="col" style="text-align: center;">부서명</th>
											<th scope="col" style="text-align: center;">직급명</th>
											<th scope="col" style="text-align: center;">전화번호</th>
											<th scope="col" style="text-align: center;"></th>
										</tr>
									</thead>

									<!-- ----------------------목록 내역-------------------------------- -->
									<tbody>
										<th:block th:if="${#lists.isEmpty(employees)}">
											<tr>
												<td colspan="6" style="text-align: center;">No
													직원 목록이 없습니다.</td>
											</tr>
										</th:block>
										<th:block th:each="employee : ${employees}"> 
											<tr>
												<td th:text="${employee.empId}"></td>
												<td th:text="${employee.empName}"></td>
												<td th:text="${employee.department.deptName}"></td>
												<td th:text="${employee.job.jobName}"></td>
												<td th:text="${employee.empPhone}"></td>
												<td th:text="${employee.empStatus}"></td>
											</tr>
										</th:block>
									</tbody>


								</table>

							</div>
						</div>



					</div>
					<!-- -------------------------------------------- -->
				</div>
			</div>
		</div>
	</div>


	<th:block layout:fragment="pagejs">
		<!-- ckeditor -->
		<!-- list.js min js -->
		<script src="/assets/libs/list.js/list.min.js"></script>

		<!--list pagination js-->
		<script src="/assets/libs/list.pagination.js/list.pagination.min.js"></script>

		<!-- ecommerce-order init js -->
		<script src="/assets/js/pages/ecommerce-order.init.js"></script>

		<!-- Sweet Alerts js -->
		<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	</th:block>
</body>

</html>