<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" data-sidebar="light">

<head>
<!-- Cleave.js CDN 추가 -->
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<!-- flatpickr CSS 추가 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- flatpickr JS 추가 -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- SweetAlert2 CSS 추가 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS 추가 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="partials/page-title :: page-title('직원 정보 관리','직원 관리')"></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
					<form id="employeeAddFrm" th:action="@{/admin/api/join}" th:object="${employeeDto}" method="POST">
						<div class="card-header">
							<h5 class="card-title mb-0" style="font-size: 18px; font-weight: bold;">신규 직원 등록</h5>
						</div>
						<div class="card-body">
							<div class="row g-4">

								<!-- 이름 + 사번 -->
								<div class="col-lg-6">
									<div class="was-validated">
										<label for="admin-new-name" class="form-label" style="font-size: 16px; font-weight: bold;">이름 <span class="text-danger">*</span></label> <input type="text" class="form-control" id="admin-new-name" th:field="*{empName}" placeholder="이름을 입력하세요" required />
										<div class="invalid-feedback">필수 정보</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="was-validated">
										<label for="admin-new-id" class="form-label" style="font-size: 16px; font-weight: bold;">사번</label> <input type="text" class="form-control" id="admin-new-id" th:field="*{empId}" placeholder="사번은 등록 시 자동 생성됩니다" disabled />
									</div>
								</div>
								<!-- 개인 번호 + 주민 등록 번호 -->
								<div class="col-lg-6">
									<div class="was-validated">
										<label for="admin-new-phone" class="form-label" style="font-size: 16px; font-weight: bold;">개인 번호 <span class="text-danger">*</span></label> <input type="text" class="form-control" id="admin-new-phone" th:field="*{empPhone}" placeholder="번호를 입력하세요 (숫자만)" required>
										<div class="invalid-feedback">필수 정보</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="was-validated">
										<label for="admin-new-ssn" class="form-label" style="font-size: 16px; font-weight: bold;">주민 등록 번호 <span class="text-danger">*</span></label> <input type="text" class="form-control" id="admin-new-ssn" th:field="*{empSsn}" placeholder="주민 등록 번호를 입력하세요 (숫자만)" required />
										<div class="invalid-feedback">필수 정보</div>
									</div>
								</div>

								<!-- 주소 + 상세 주소 -->
								<div class="col-md-6">
									<div>
										<label for="admin-new-address" class="form-label" style="font-size: 16px; font-weight: bold;">주소</label> <input type="text" class="form-control" id="admin-new-address" th:field="*{empAddress}" placeholder="주소를 검색하세요." />
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="admin-new-address-detail" class="form-label" style="font-size: 16px; font-weight: bold;">상세 주소</label> <input type="text" class="form-control" id="admin-new-address-detail" th:field="*{empAddressDetail}" placeholder="상세 주소를 입력하세요" />
									</div>
								</div>

								<!-- 부서 + 직급 -->
								<div class="col-md-6">
									<div class="was-validated">
										<label for="admin-new-dept" class="form-label" style="font-size: 16px; font-weight: bold;">부서 <span class="text-danger">*</span></label> 
										<select class="form-select" id="admin-new-dept" th:field="*{deptNo}" aria-label="select example">
											<option value="" disabled selected>부서를 선택하세요</option>
											<th:block th:each="dept : ${departments}">
												<option th:value="${dept.deptNo}" th:text="${dept.deptName}"></option>
											</th:block>
										</select>
										<div class="invalid-feedback">필수 정보</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="was-validated">
										<label for="admin-new-job" class="form-label" style="font-size: 16px; font-weight: bold;">직급 <span class="text-danger">*</span></label> 
										<select class="form-select" id="admin-new-job" th:field="*{jobNo}" aria-label="select example" required>
											<option th:value="" disabled selected>직무를 선택하세요</option>
											<!-- 기본 옵션 수정 -->
											<th:block th:each="job : ${jobs}">
												<option th:value="${job.jobNo}" th:text="${job.jobName}"></option>
											</th:block>
										</select>
										<div class="invalid-feedback">필수 정보</div>

									</div>
								</div>

								<!-- 입사일 + 퇴사일 -->
								<div class="col-lg-6">
									<div class="was-validated">
										<label for="admin-new-hire" class="form-label" style="font-size: 16px; font-weight: bold;">입사일 <span class="text-danger">*</span></label> <input type="text" class="form-control" id="admin-new-hire" th:field="*{empHire}" data-provider="flatpickr" data-date-format="Y-m-d" placeholder="입사일을 선택하세요." required />
										<div class="invalid-feedback">필수 정보</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div>
										<label for="admin-new-end" class="form-label" style="font-size: 16px; font-weight: bold;">퇴사일</label> <input type="text" class="form-control" id="admin-new-end" th:field="*{empEnd}" disabled />
									</div>
								</div>
								<!-- 완료 + 취소 -->
								<div class="col-lg-12">
									<div class="hstack gap-2 justify-content-end">
										<input type="submit" class="btn btn-primary btn-border w-xs" style="font-size: 16px; font-weight: bold;" value="등록"> <input type="button" class="btn btn-soft-dark waves-effect waves-light material-shadow-none w-xs" style="font-size: 16px; font-weight: bold;" value="취소" th:onclick="|location.href='@{/admin/list}'|">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="pagejs">
	

		<script>
		 /*  개인 번호 (010-0000-0000) */
        if (document.querySelector("#admin-new-phone")) {
            var cleaveBlocks = new Cleave('#admin-new-phone', {
                delimiters: ['-', '-'],
                blocks: [3, 4, 4]
            });
        }
        
        /* 주민 등록 번호 (000000-0000000) */
        if (document.querySelector("#admin-new-ssn")) {
            var cleaveBlocks = new Cleave('#admin-new-ssn', {
                delimiters: ['-', '-'],
                blocks: [6, 7]
            });
        }
        
        /* 필수 정보 경고 */
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('was-validated');
                if (forms)
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
            }, false);
        })(); 
        
        /* 입사일 선택 */
        flatpickr("#admin-new-hire", {
            dateFormat: "Y-m-d",  
            allowInput: true
        });

        /* 폼 제출 시 데이터 전송 */
        const form = document.getElementById("employeeAddFrm");
        form.addEventListener('submit', (e) => {
            e.preventDefault();

            let vali_check = true;  // 이 값을 기본으로 true로 설정하여 검증 통과 전부 확인
            let vali_text = "";

            const emp_name = document.getElementById("admin-new-name").value;
            const emp_phone = document.getElementById("admin-new-phone").value;
            const emp_ssn = document.getElementById("admin-new-ssn").value;
            const dept_no = document.getElementById("admin-new-dept").value;
            const job_no = document.getElementById("admin-new-job").value;
            const emp_hire = document.getElementById("admin-new-hire").value;
            const emp_address = document.getElementById("admin-new-address").value;
            const emp_address_detail = document.getElementById("admin-new-address-detail").value;

            // 유효성 검사 후 콘솔 로그 추가
            console.log("입력값 확인:", { emp_name, emp_phone, emp_ssn, dept_no, job_no, emp_hire, emp_address, emp_address_detail });

            if (emp_name === '') {
                vali_check = false;
            } else if (emp_phone === '') {
                vali_check = false;
            } else if (emp_ssn === '') {
                vali_check = false;
            } else if (dept_no === '' || dept_no === null) {
                vali_check = false;
            } else if (job_no === '' || job_no === null) { 
                vali_check = false;
            } else if (emp_hire === '') {
                vali_check = false;
            }

            if (!vali_check) {
                Swal.fire({
                    icon: 'error',
                    title: '실패',
                    text: vali_text,
                    confirmButtonText: "닫기"
                });
                return;
            }

            // 서버로 전송할 데이터 객체
            const emp_auth = 'USER';  
            const emp_status = 'Y';
            const obj = {
                empName: emp_name,
                empPhone: emp_phone,
                empSsn: emp_ssn,
                empAddress: emp_address,
                empAddressDetail: emp_address_detail,
                deptNo: dept_no === '' ? null : parseInt(dept_no),
                jobNo: job_no === '' ? null : parseInt(job_no), 
                empHire: emp_hire,
                empStatus : emp_status,
                empAuth: emp_auth
            };

            console.log("전송할 데이터:", obj); // 전송 전 데이터 로그 출력

            const jsonData = JSON.stringify(obj);
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            fetch('/admin/api/join', { // URL을 컨트롤러 매핑과 일치시키기
                method: 'POST',
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                    "Accept": "application/json",
                    [csrfHeader]: csrfToken
                },     
                body: jsonData
            })
            
            .then(response => {
                console.log("서버 응답 상태:", response.status); // 응답 상태 로그
                return response.json();
            })
            
            .then(data => {
                console.log("서버 응답 데이터:", data); // 서버 응답 데이터 확인
                if (data.res_code === '200') {
                    Swal.fire({
                        icon: 'success',
                        title: '등록 성공',
                        text: data.res_msg,
                        confirmButtonText: "닫기"
                    }).then(() => {
                        location.href = "/admin/list";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '등록 실패',
                        text: data.res_msg,
                        confirmButtonText: "닫기"
                    });
                }
            })
            
            .catch(error => {
                console.error("에러 발생:", error); // fetch 요청 중 에러가 발생하면 출력
                Swal.fire({
                    icon: 'error',
                    title: '등록 실패',
                    text: "서버와 통신 중 오류가 발생했습니다.",
                    confirmButtonText: "닫기"
                });
            });
        });

        </script>
	</th:block>
</body>

</html>
