<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>

		<div class="col-lg-6">
									<div class="mt-4 mt-lg-0">
										
										<nav aria-label="...">
											<ul class="pagination">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1">← &nbsp; Prev</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item active">
													<a class="page-link" href="#">2 <span
															class="sr-only">(current)</span></a>
												</li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next &nbsp; →</a>
												</li>
											</ul>
										</nav>

										<nav aria-label="...">
											<ul class="pagination">
												<li class="page-item disabled">
													<span class="page-link"><i class="mdi mdi-chevron-left"></i></span>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item active">
													<span class="page-link">
														2
														<span class="sr-only">(current)</span>
													</span>
												</li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#"><i
															class="mdi mdi-chevron-right"></i></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
								
								
								<!-- <div class="center" th:if="${!resultList.isEmpty()}">
									<div class="pagination" th:with="
										pageNumber = ${resultList.pageable.pageNumber},
										pageSize = ${resultList.pageable.pageSize},
										totalPages = ${resultList.totalPages},
										startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
										tempEndPage = ${startPage + pageSize - 1},
										endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})
										">
										<th:block th:if="${!resultList.first}">
											<a th:href="${resultList.first} ? '#' : @{/admin/list(page=${pageNumber - 1},search_text=${searchDto.search_text},search_type=${searchDto.search_type})}">&lt;</a>
										</th:block>
										* 컬렉션을 반복하는 것이 아니라 단순히 숫자만 반복할때 #numbers사용
										<th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
											<a th:text="${page}" th:href="@{/admin/list(page=${page} - 1,search_text=${searchDto.search_text},search_type=${searchDto.search_type})}" th:classappend="${page == pageNumber + 1} ? 'active'">1</a>
										</th:block>
										<th:block th:if="${!resultList.last}">
											<a th:href="${resultList.last} ? '#' : @{/admin/list(page=${pageNumber + 1},search_text=${searchDto.search_text},search_type=${searchDto.search_type})}">&gt;</a>
										</th:block>
									</div>
								</div> -->
								

</body>
</html>