<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <!-- Meta and Bootstrap CSS -->
    <meta charset="UTF-8">
    <title>전자결재 등록</title>
    <!-- Bootstrap CSS -->
    <th:block layout:fragment="pagetitle" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dropzone CSS -->
    <link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- 토슽 api -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="partials/page-title :: page-title('전자결재 작성 - 근태신청서', '전자결재')"></div>
        <div class="row" style="margin-left:30px;">
            <div class="col-lg-8">
                <div style="background-color:white; width:2000px; height:1150px;">
                    <div style="margin-left:50px; margin-top:-20px;">
                        <!-- Form fields -->
                        <br>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-title-input">제목</label>
                            <input type="text" class="form-control" id="project-title-input" placeholder="제목을 입력하세요" style="width:500px;">
                        </div>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-author-input">기안자</label>
                            <input type="text" class="form-control" id="project-author-input" disabled style="width:500px;">
                        </div>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-date-input">기안일</label>
                            <input type="text" class="form-control" id="project-date-input" disabled style="width:500px;">
                        </div>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-thumbnail-img">파일첨부</label>
                            <input class="form-control" id="project-thumbnail-img" type="file" accept="image/png, image/gif, image/jpeg" style="width:500px;">
                        </div>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-thumbnail-img">수신참조자</label>
                            <input class="form-control" id="project-thumbnail-img" type="button"  style="width:500px;">
                        </div>
                        <div class="mb-3" style="width:600px;">
                            <label class="form-label" for="project-thumbnail-img">양식</label><br>
                            <select class="form-control" id="project-thumbnail-img" style="width:500px;">
                            	<option></option>
                            	<option></option>
                            	<option></option>
                            </select>
                        </div>
                        <br>
                        <!-- 토스트 api -->
                        <div class="col-lg-8" style="margin-left : -15px; width:1800px; ">
    						<label>내용</label>
    						<div>
        					<div id="approval_edit">
    						</div>
        						
    						</div>
						</div>
                        <!-- Buttons -->
                        <br>
                        <div style="margin-left:1150px;">
                            <button type="submit" class="btn btn-secondary w-sm">올리기</button>
                            <button type="submit" class="btn btn-danger w-sm">취소</button>
                        </div>
                        <!-- Sign-off and Approval Tables -->
                        <div style="margin-top:-1088px; margin-left:600px;">
                        <label>합의자</label>
                            
					    <table style="border-collapse: collapse; border-bottom: 1px solid #b9b9b9; margin-bottom: -1px;">
					        <tr>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;"></td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;">
					                <input type="button" value="선택" style="background-color:white; border:white;">
					            </td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;"></td>
					        </tr>
					    </table>
					    <table style="border-collapse: collapse; border-spacing: 0;">
					        <tr>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 1</td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 2</td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 3</td>
					        </tr>
					    </table>
                        <br>
                        <label>결재자</label> 
					    <table style="border-collapse: collapse; border-bottom: 1px solid #b9b9b9; margin-bottom: -1px;">
					        <tr>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;"></td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;">
					                <input type="button" value="선택" style="background-color:white; border:white;">
					            </td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; height: 180px; text-align:center;"></td>
					        </tr>
					    </table>
					    <table style="border-collapse: collapse; border-spacing: 0;">
					        <tr>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 1</td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 2</td>
					            <td style="border: 1px solid #b9b9b9; width: 240px; text-align: center;">이름 3</td>
					        </tr>
					    </table>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
	    <script>
		        const contentEditor = new toastui.Editor({
		        el: document.querySelector('#approval_edit'),
		        width: '1200px',
		        height: '500px',
		        initialEditType: 'wysiwyg',
		        previewStyle: 'vertical',
		        hideModeSwitch: true
    		});
    </script>
    </div>
</body>
</html>
