<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Meta and Bootstrap CSS -->
    <meta charset="UTF-8">
    <title>전자결재 등록</title>
    <link href="partials/sidebar.css">
    <link href="partials/topbar.css">
    <!-- CKEditor Script -->
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <style>
    	#approval_edit {
    		width: 800px;
    		height: 900px; /* 원하는 높이로 조정 */
    		border: 1px solid #ddd; /* 테두리 추가로 높이 확인 */
		}
    </style>
</head>
<body>
	<th:block th:replace="~{partials/topbar :: topbar}"></th:block>
	<th:block th:replace="~{partials/sidebar :: sidebar}"></th:block>

	<div style="background-color:white; height:800px; width:800px; margin-top:50px; margin-left:50px;">
	
	</div>
	
</body>