<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('게시글 수정 페이지')"></div>
</th:block>

<head>
	<!-- Plugins css -->
	<link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <!--TOAST UI Editor CSS-->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
</head>

<body>

	<div layout:fragment="content">
		<div th:replace="partials/page-title :: page-title('게시글 수정','게시판')"></div>

		<div class="row">
			<div class="col-lg-8">
				<div class="card">
					<div class="card-body">
						<div class="mb-3">
							<label class="form-label" for="project-title-input">제목</label>
							<input type="text" class="form-control" id="project-title-input"
								placeholder="수정할 제목을 입력하세요.">
						</div>
						
							<label class="form-label">내용</label>
						        <!--TOAST UI Editor-->
						        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
									
									<!-- TOAST UI Editor가 들어갈 div태그 -->
									    <div id="editor"></div>
									    
								    <!-- TOAST UI Editor 생성 JavaScript 코드 -->
								    <script>
								        const editor = new toastui.Editor({
								            el: document.querySelector('#editor'),
								            previewStyle: 'vertical',
								            height: '500px',
								            initialValue: '',
								            initialEditType: 'wysiwyg'
								        });
								    </script>
								    
						

					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">첨부할 파일 목록</h5>
					</div>
					<div class="card-body">
						<div>
							<p class="text-muted">첨부할 파일을 이곳에 첨부하세요.</p>

							<div class="dropzone">
								<div class="fallback">
									<input name="file" type="file" multiple="multiple">
								</div>
								<div class="dz-message needsclick">
									<div class="mb-3">
										<i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
									</div>

									<h6>이곳을 클릭하거나 올릴 파일을 드래그하세요.</h6>
								</div>
							</div>

							<ul class="list-unstyled mb-0" id="dropzone-preview">
								<li class="mt-2" id="dropzone-preview-list">
									<!-- This is used as the file preview template -->
									<div class="border rounded">
										<div class="d-flex p-2">
											<div class="flex-shrink-0 me-3">
												<div class="avatar-sm bg-light rounded">
													<img src="#" alt="Project-Image" data-dz-thumbnail
														class="img-fluid rounded d-block" />
												</div>
											</div>
											<div class="flex-grow-1">
												<div class="pt-1">
													<h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
													<p class="fs-13 text-muted mb-0" data-dz-size></p>
													<strong class="error text-danger" data-dz-errormessage></strong>
												</div>
											</div>
											<div class="flex-shrink-0 ms-3">
												<button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<!-- end dropzon-preview -->
						</div>
					</div>
				</div>
				<!-- end card -->
			</div>
			
			<!-- end col -->
			<!-- 조직도 불러올 자리...radio로 권한 설정 클릭시 체크 가능하도록 ! -->
			<div class="col-lg-4">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">읽기 권한 설정</h5>
					</div>
					<div class="card-body" style="height:100%">
						<div>
							<label for="choices-privacy-status-input" class="form-label"></label>
							<input type="radio" id="all" name="read-auth" value="1"><label for="all">전직원</label>
							<input type="radio" id="select" name="read-auth" value="2"><label for="select">권한 직접 설정</label>

						</div>
					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->
				<div class="text-end mb-4">
					<button type="button" class="btn btn-danger w-sm">이전으로</button>
					<button type="submit" class="btn btn-success w-sm">작성 완료</button>
				</div>
			</div>
			<!-- end col -->
		</div>
	</div>


	<th:block layout:fragment="modal">

	</th:block>

	<th:block layout:fragment="pagejs">

		<!-- ckeditor -->
		<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

		<!-- dropzone js -->
		<script src="/assets/libs/dropzone/dropzone-min.js"></script>
		<!-- project-create init -->
		<script src="/assets/js/pages/project-create.init.js"></script>

	</th:block>
</body>

</html>