<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('게시글 상세 페이지')"></div>
</th:block>

<head>
    <!--TOAST UI Editor CSS-->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
</head>

<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-lg-12">
				<div class="card mt-n4 mx-n4">
					<div class="bg-soft-warning">
						<div class="card-body pb-0 px-4">
							<div class="row mb-3">
								<div class="col-md">
									<div class="row align-items-center g-3">
										<div class="col-md-auto">
											<div class="avatar-md">
												<div class="avatar-title bg-white rounded-circle">
													<img src="/assets/images/brands/slack.png" alt="" class="avatar-xs">
												</div>
											</div>
										</div>
										<div class="col-md">
											<div>
												<h2 class="fw-bold" th:text="${announceList[0].announce_title}"></h2>
												<br>
												<div class="hstack gap-3 flex-wrap">
													<div><i class="ri-user-3-fill align-bottom me-1"></i>작성자
													</div>
													<div>개발팀<span class="fw-medium">대리</span></div>
													<div class="vr"></div>
													<div><i class="ri-user-settings-line align-bottom me-1"></i>
													읽기 권한 :  <span class="fw-medium">전직원</span></div>
												</div>
												<br>
												<div class="hstack gap-3 flex-wrap">
													<div><i class="ri-pencil-fill align-bottom me-1"></i>
													작성일 :  <span class="fw-medium" th:text="${#temporals.format(announceList[0].reg_date, 'yy-MM-dd HH:mm:ss')}"></span></div>
													<div><i class="ri-eraser-line align-bottom me-1"></i>
													수정일 : <span class="fw-medium" th:text="${#temporals.format(announceList[0].mod_date, 'yy-MM-dd HH:mm:ss')}"></span></div>
												</div>
												<br>
												<div class="hstack gap-3 flex-wrap">
												<div><i class="ri-eye-line align-bottom me-1"></i>
													조회수 <span class="fw-medium" th:text="${announceList[0].view_count}"></span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- 제목 옆에 빈 공간 필요없으면 지우기 -->
 								<div class="col-md-auto">
 								<a th:href="@{/announce/update/{no}(no=1)}">
 								<button type="button" class="btn btn-soft-success waves-effect waves-light"><i class="ri-eraser-line align-bottom me-1"></i>
										게시글 수정</button>
								</a>
								<button type="button" class="btn btn-soft-danger waves-effect waves-light"><i class="ri-close-fill align-bottom me-1"></i>
										게시글 삭제</button>
<!-- 									<div class="hstack gap-1 flex-wrap">
										<button type="button" class="btn py-0 fs-16 favourite-btn active">
											<i class="ri-star-fill"></i>
										</button>
										<button type="button" class="btn py-0 fs-16 text-body">
											<i class="ri-share-line"></i>
										</button>
										<button type="button" class="btn py-0 fs-16 text-body">
											<i class="ri-flag-line"></i>
										</button>
									</div> -->
								</div>
							</div>

							<ul class="nav nav-tabs-custom border-bottom-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active fw-semibold" data-bs-toggle="tab" href="#project-overview"
										role="tab">
										view tab
									</a>
								</li>
							</ul>
						</div>
						<!-- end card body -->
					</div>
				</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="tab-content text-muted">
					<div class="tab-pane fade show active" id="project-overview" role="tabpanel">
						<div class="row">
								<div class="card">
									<div class="card-body">
										<div class="text-muted">
											<h6 class="mb-3 fw-semibold text-uppercase">게시글 내용</h6>
											
								<!--TOAST UI Editor-->
						        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
									
									<!-- TOAST UI Editor가 들어갈 div태그 -->
									    <div id="viewer"></div>
									<!-- TOAST UI Editor 생성 JavaScript 코드 -->
								    <script>
								        const editor = new toastui.Editor({
								            el: document.querySelector('#viewer'),
								            height: '500px',
								            initialValue: content
								        });
								    </script>
											
											
											
											<!-- 파일 조회1 -->

											<div class="pt-3 border-top border-top-dashed mt-4">
												<h6 class="mb-3 fw-semibold text-uppercase"><i class="ri-download-cloud-2-line align-bottom me-1"></i>첨부 파일</h6>
												<div class="row g-3">
													<div class="col-xxl-4 col-lg-6">
														<div class="border rounded border-dashed p-2">
															<div class="d-flex align-items-center">
																<div class="flex-shrink-0 me-3">
																	<div class="avatar-sm">
																		<div
																			class="avatar-title bg-light text-secondary rounded fs-24">
																			<i class="ri-folder-zip-line"></i>
																		</div>
																	</div>
																</div>
																<div class="flex-grow-1 overflow-hidden">
																	<h5 class="fs-13 mb-1"><a href="#"
																			class="text-body text-truncate d-block">App
																			pages.zip</a></h5>
																	<div>2.2MB</div>
																</div>
																<div class="flex-shrink-0 ms-2">
																	<div class="d-flex gap-1">
																		<button type="button"
																			class="btn btn-icon text-muted btn-sm fs-18"><i
																				class="ri-download-2-line"></i></button>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- end col -->
													<!-- 파일 조회2 -->
													<div class="col-xxl-4 col-lg-6">
														<div class="border rounded border-dashed p-2">
															<div class="d-flex align-items-center">
																<div class="flex-shrink-0 me-3">
																	<div class="avatar-sm">
																		<div
																			class="avatar-title bg-light text-secondary rounded fs-24">
																			<i class="ri-file-ppt-2-line"></i>
																		</div>
																	</div>
																</div>
																<div class="flex-grow-1 overflow-hidden">
																	<h5 class="fs-13 mb-1"><a href="#"
																			class="text-body text-truncate d-block">Velzon
																			admin.ppt</a></h5>
																	<div>2.4MB</div>
																</div>
																<div class="flex-shrink-0 ms-2">
																	<div class="d-flex gap-1">
																		<button type="button"
																			class="btn btn-icon text-muted btn-sm fs-18"><i
																				class="ri-download-2-line"></i></button>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- end col -->
												</div>
												<!-- end row -->
											</div>
										</div>
									</div>
									<!-- end card body -->
								</div>
								<!-- end card -->
				<!-- end card -->
			
		</div>
		<!-- end row -->
<!-- 댓글
								<div class="card">
									<div class="card-header align-items-center d-flex">
										<h4 class="card-title mb-0 flex-grow-1">Comments</h4>
										<div class="flex-shrink-0">
											<div class="dropdown card-header-dropdown">
												<a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false">
													<span class="text-muted">Recent<i
															class="mdi mdi-chevron-down ms-1"></i></span>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Recent</a>
													<a class="dropdown-item" href="#">Top Rated</a>
													<a class="dropdown-item" href="#">Previous</a>
												</div>
											</div>
										</div>
									</div>end card header

									<div class="card-body">

										<div data-simplebar style="height: 300px;" class="px-3 mx-n3 mb-2">
											<div class="d-flex mb-4">
												<div class="flex-shrink-0">
													<img src="/assets/images/users/avatar-8.jpg" alt=""
														class="avatar-xs rounded-circle" />
												</div>
												<div class="flex-grow-1 ms-3">
													<h5 class="fs-13">Joseph Parker <small class="text-muted ms-2">20
															Dec 2021 - 05:47AM</small></h5>
													<p class="text-muted">I am getting message from customers that when
														they place order always get error message .</p>
													<a href="javascript: void(0);" class="badge text-muted bg-light"><i
															class="mdi mdi-reply"></i> Reply</a>
													<div class="d-flex mt-4">
														<div class="flex-shrink-0">
															<img src="/assets/images/users/avatar-10.jpg" alt=""
																class="avatar-xs rounded-circle" />
														</div>
														<div class="flex-grow-1 ms-3">
															<h5 class="fs-13">Alexis Clarke <small
																	class="text-muted ms-2">22 Dec 2021 -
																	02:32PM</small></h5>
															<p class="text-muted">Please be sure to check your Spam
																mailbox to see if your email filters have identified the
																email from Dell as spam.</p>
															<a href="javascript: void(0);"
																class="badge text-muted bg-light"><i
																	class="mdi mdi-reply"></i> Reply</a>
														</div>
													</div>
												</div>
											</div>
											<div class="d-flex mb-4">
												<div class="flex-shrink-0">
													<img src="/assets/images/users/avatar-6.jpg" alt=""
														class="avatar-xs rounded-circle" />
												</div>
												<div class="flex-grow-1 ms-3">
													<h5 class="fs-13">Donald Palmer <small class="text-muted ms-2">24
															Dec 2021 - 05:20PM</small></h5>
													<p class="text-muted">If you have further questions, please contact
														Customer Support from the “Action Menu” on your <a
															href="javascript:void(0);"
															class="text-decoration-underline">Online Order Support</a>.
													</p>
													<a href="javascript: void(0);" class="badge text-muted bg-light"><i
															class="mdi mdi-reply"></i> Reply</a>
												</div>
											</div>
											<div class="d-flex">
												<div class="flex-shrink-0">
													<img src="/assets/images/users/avatar-10.jpg" alt=""
														class="avatar-xs rounded-circle" />
												</div>
												<div class="flex-grow-1 ms-3">
													<h5 class="fs-13">Alexis Clarke <small class="text-muted ms-2">26
															min ago</small></h5>
													<p class="text-muted">Your <a href="javascript:void(0)"
															class="text-decoration-underline">Online Order Support</a>
														provides you with the most current status of your order. To help
														manage your order refer to the “Action Menu” to initiate return,
														contact Customer Support and more.</p>
													<div class="row g-2 mb-3">
														<div class="col-lg-1 col-sm-2 col-6">
															<img src="/assets/images/small/img-4.jpg" alt=""
																class="img-fluid rounded">
														</div>
														<div class="col-lg-1 col-sm-2 col-6">
															<img src="/assets/images/small/img-5.jpg" alt=""
																class="img-fluid rounded">
														</div>
													</div>
													<a href="javascript: void(0);" class="badge text-muted bg-light"><i
															class="mdi mdi-reply"></i> Reply</a>
													<div class="d-flex mt-4">
														<div class="flex-shrink-0">
															<img src="/assets/images/users/avatar-6.jpg" alt=""
																class="avatar-xs rounded-circle" />
														</div>
														<div class="flex-grow-1 ms-3">
															<h5 class="fs-13">Donald Palmer <small
																	class="text-muted ms-2">8 sec ago</small></h5>
															<p class="text-muted">Other shipping methods are available
																at checkout if you want your purchase delivered faster.
															</p>
															<a href="javascript: void(0);"
																class="badge text-muted bg-light"><i
																	class="mdi mdi-reply"></i> Reply</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<form class="mt-4">
											<div class="row g-3">
												<div class="col-12">
													<label for="exampleFormControlTextarea1"
														class="form-label text-body">Leave a Comments</label>
													<textarea class="form-control bg-light border-light"
														id="exampleFormControlTextarea1" rows="3"
														placeholder="Enter your comment..."></textarea>
												</div>
												<div class="col-12 text-end">
													<button type="button"
														class="btn btn-ghost-secondary btn-icon waves-effect me-1"><i
															class="ri-attachment-line fs-16"></i></button>
													<a href="javascript:void(0);" class="btn btn-success">Post
														Comments</a>
												</div>
											</div>
										</form>
									</div>
									end card body
								</div>
								end card
		댓글 				 -->	
							</div>
							<!-- ene col -->
						</div>
						<!-- end row -->
					</div>
					<!-- end tab pane -->
				</div>
			</div>
			<!-- end col -->
		</div>
		<div style="text-align: center">
		<button type="button" class="btn rounded-pill btn-primary waves-effect waves-light btn-lg">
			<i class="ri-clipboard-line align-bottom me-1"></i>
			조회 완료
		</button></div>
		
		<!--  container-fluid 위치-->
		<!--end row-->
	</div>

	</th:block>
	
	

	<th:block layout:fragment="pagejs">

		<script src="/assets/js/pages/project-overview.init.js"></script>

	</th:block>
</body>

</html>