<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<!-- Meta and Bootstrap CSS -->
<meta charset="UTF-8">
<title>전자결재 상세</title>
<!-- Bootstrap CSS -->
<th:block layout:fragment="pagetitle" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Dropzone CSS -->
<link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet"
	type="text/css" />
<!-- 토슽 api -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<script
	src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<style>

#modal {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	background-color: white;
	border: 1px solid #b9b9b9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	overflow: hidden;
}

.modal-content {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	height: calc(100% - 60px); /* 버튼 영역을 제외한 공간 */
	box-sizing: border-box;
	overflow-y: auto;
}

.modal-item {
	border: 1px solid #b9b9b9;
	width: 20px;
	height: 20px;
	display: contents;
	align-items: center;
	justify-content: center;
	margin: 5px;
	cursor: pointer;
	user-select: none;
}

.modal-item.selected {
	color: cornflowerblue;
}

.modal-footer {
	display: flex;
	justify-content: center;
	padding: 10px;
	border-top: 1px solid #b9b9b9;
}

.modal-item.disabled {
	color: #b9b9b9;
	cursor: not-allowed;
}
.project-thumbnail-img{
			border:1px solid #d3d3d3; border-radius:4px; height: 35px;
		}

</style>
</head>
<body>
	<div layout:fragment="content">
		<div th:replace="partials/page-title :: page-title('전자결재 상세', '전자결재')"></div>
		<div class="row" style="margin-left: 30px;">
			<div class="col-lg-8">
				<div style="background-color: white; width: 2150px; height: 1150px;">
					<div style="margin-left: 50px; margin-top: -20px;">
						<form>
							<br>
							<div class="mb-3" style="width: 600px;">
								<label class="form-label" for="project-title-input">제목</label> <input
									type="text" class="form-control" id="project-title-input"
									th:value="${dto.approval.approvalTitle}" disabled style="width: 500px;">
							</div>
							<div class="mb-3" style="width: 600px;">
								<label class="form-label" for="project-author-input">기안자</label>
								<input type="text" class="form-control" th:value="${dto.employee.empName}"
									id="project-author-input" disabled style="width: 500px;">
							</div>
							<div class="mb-3" style="width: 600px;">
								<label class="form-label" for="project-date-input">기안일</label> <input
									type="text" class="form-control" id="project-date-input"
									disabled style="width: 500px;"
									th:value=${dto.approval.approvalRegDate}>
							</div>
							<div class="mb-3" style="width: 600px;" th:if="${dto.file == null}">
								<label class="form-label" for="project-thumbnail-img">파일첨부</label>
								<input class="form-control" id="project-thumbnail-img"
									type="file" accept="image/png, image/gif, image/jpeg"
									style="width: 500px;" disabled>
							</div>
							<div class="mb-3" style="width: 500px;" th:if="${dto.file != null}">
								<label class="form-label" for="project-thumbnail-img">파일첨부</label>
								<a id="project-thumbnail-img" class="form-control"  th:text="${dto.file.fileOriName}" 
								th:href="@{/download/{no}(no=${dto.approval.approvalNo})}"></a>
							</div>
							<div class="mb-3">
								<label class="form-label" for="references">수신참조자</label><br>
								<input id="references" type="text"
									style="width: 500px; height: 35px; border: 1px solid #d3d3d3; border-radius: 4px;"
									class="selectedName3">
							</div>
							<br>
							<div th:text="${dto.approval.approvalContent}" style="display: none"
								id="contentDiv"></div>
							<!-- 토스트 api -->
							<div class="col-lg-8" style="margin-left: -15px;">
								<label>내용</label>
								<div id="approval_edit"></div>
							</div>
							<!-- Buttons -->
							<br>
							<div style="margin-left: 950px;" th:if=${dto.employee.empId}==${#authentication.name}>
								<button type="submit" class="btn btn-secondary w-sm" style="margin-left:100px;">회수</button>
							</div>
							<div style="margin-left: 950px;" th:if=${dto.employee.empId}!=${#authentication.name}>
								<button type="submit" class="btn btn-secondary w-sm">승인</button>
								<button type="submit" class="btn btn-danger w-sm">반려</button>
							</div>
							<!-- Sign-off and Approval Tables -->
							<div style="margin-top: -1000px; margin-left: 600px;">

								<label>합의자</label>
								<table
									style="border-collapse: collapse; border-bottom: 1px solid #d3d3d3; margin-bottom: -1px;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;">
										</td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
									</tr>
								</table>
								<table style="border-collapse: collapse; border-spacing: 0;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
									</tr>
								</table>
								<br> <label>결재자</label>
								<table
									style="border-collapse: collapse; border-bottom: 1px solid #d3d3d3; margin-bottom: -1px;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
									</tr>
								</table>
								<table style="border-collapse: collapse; border-spacing: 0;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
									</tr>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			/* 토스트 api 설정 */
			const content = document.getElementById('contentDiv');
			const contentEditor = new toastui.Editor({
				el : document.querySelector('#approval_edit'),
				width : '100%',
				height : '500px',
				initialValue : content.textContent,
				initialEditType : 'wysiwyg',
				previewStyle : 'vertical',
				hideModeSwitch : true
			});
		</script>



	</div>
</body>
</html>
