<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>전자결재 리스트</title>
    <th:block layout:fragment="pagetitle" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <style>
        .table-card {
            overflow: hidden;
        }

        .table {
            width: 100%;
            table-layout: auto; /* 자동 크기 조정 */
        }
    </style>
</head>

<body>
        <div layout:fragment="content">
            <div th:replace="partials/page-title :: page-title('상신함','전자결재')"></div>
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="companyList">
                            <div class="card-header border-0" style="height:700px;" >
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="d-flex flex-wrap gap-2">
                                            <select style="height: 37.67px; width: 100px; border: 1px solid #d3d3d3; border-radius: 4px; text-align: center;">
                                                <option>전체기간</option>
                                                <option>한달</option>
                                                <option>6개월</option>
                                                <option>일년</option>
                                            </select>
                                            <input type="text" value="제목" disabled style="margin-left: 5px; width: 70px; border: 1px solid #d3d3d3; border-radius: 4px; text-align: center;">
                                            <div class="search-box">
                                                <input type="text" class="form-control search"> 
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive table-card mb-3">
                                    <table class="table align-middle table-nowrap mb-0" id="customerTable" style="margin-top: 50px;">
                                        <colgroup>
                                            <col width=10%>
                                            <col width=10%>
                                            <col width=35%>
                                            <col width=15%>
                                            <col width=15%>
                                            <col width=15%>
                                        </colgroup>
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th>번호</th>
                                                <th>종류</th>
                                                <th>제목</th>
                                                <th>상태</th>
                                                <th>최종결재자</th>
                                                <th scope="col">처리날짜</th>
                                            </tr>
                                        </thead>               
                                        
                                        <tbody class="table align-middle table-nowrap mb-0" style="text-align: center;">
                                            <th:block th:if="${#lists.isEmpty(resultList.content)}">
												<tr>
													<td colspan="6">전자결재가 없습니다.</td>
												</tr>
											</th:block>
                                            
                                            <!-- 대기/진행중 상태 -->
                                            <tr th:each="approval, approvalStat : ${resultList.content}" th:if="${num == 0 and (approval['approval'].approvalStatus == 0)}">
                                                <td th:text="${resultList.totalElements - ((resultList.pageable.pageSize) * (resultList.pageable.pageNumber) + approvalStat.count)+1}"></td>
                                                <td th:text="${approval['formType'].approvalBaseFormType.baseFormName}"></td>
                                                <td><a th:href="@{/approval/{no}(no=${approval['approval'].approvalNo})}" th:text="${approval['approval'].approvalTitle}"></a></td>
                                                <td th:switch="${approval['approval'].approvalStatus}">
                                                    <span th:case="0">대기</span>
                                                </td>
                                                <td>ㅡ</td>
                                                <td>ㅡ</td>
                                            </tr>
                                            <!-- 진행 -->
                                            <tr th:each="approval : ${resultList.content}" th:if="${num == 1 and approval['approval'].approvalStatus == 1}">
                                                <td th:text="${resultList.totalElements - ((resultList.pageable.pageSize) * (resultList.pageable.pageNumber) + approvalStat.count)+1}"></td>
                                                <td th:text="${approval['formType'].approvalBaseFormType.baseFormName}"></td>
                                                <td><a th:href="@{/approval/{no}(no=${approval['approval'].approvalNo})}" th:text="${approval['approval'].approvalTitle}"></a></td>
                                                <td th:switch="${approval['approval'].approvalStatus}">
                                                    <span th:case="1">진행중</span>
                                                </td>
                                                <td th:text="${approval['approver'].employee.empName}"></td>
                                                <td th:text="${#temporals.format(approval['approver'].approvalDate, 'yyyy-MM-dd HH:mm')}"></td>
                                            </tr>
                                            <!-- 완료 상태 -->
                                            <tr th:each="approval : ${resultList.content}" th:if="${num == 2 and approval['approval'].approvalStatus == 2}">
                                                <td th:text="${resultList.totalElements - ((resultList.pageable.pageSize) * (resultList.pageable.pageNumber) + approvalStat.count)+1}"></td>
                                                <td th:text="${approval['formType'].approvalBaseFormType.baseFormName}"></td>
                                                <td><a th:href="@{/approval/{no}(no=${approval['approval'].approvalNo})}" th:text="${approval['approval'].approvalTitle}"></a></td>
                                                <td>완료</td>
                                                <td th:text="${approval['approver'].employee.empName}"></td>
                                                <td th:text="${#temporals.format(approval['approver'].approvalDate, 'yyyy-MM-dd HH:mm')}"></td>
                                            </tr>
                                            <!-- 반려 상태 -->
                                            <tr th:each="approval : ${resultList.content}" th:if="${num == 3 and approval['approval'].approvalStatus == 3}">
                                                <td th:text="${resultList.totalElements - ((resultList.pageable.pageSize) * (resultList.pageable.pageNumber) + approvalStat.count)+1}"></td>
                                                <td th:text="${approval['formType'].approvalBaseFormType.baseFormName}"></td>
                                                <td><a th:href="@{/approval/{no}(no=${approval['approval'].approvalNo})}" th:text="${approval['approval'].approvalTitle}"></a></td>
                                                <td>반려</td>
                                                <td th:text="${approval['approver'].employee.empName}"></td>
                                                <td th:text="${#temporals.format(approval['approver'].approvalDate, 'yyyy-MM-dd HH:mm')}"></td>
                                            </tr>
                                            <!-- 회수 상태 -->
                                            <tr th:each="approval : ${resultList.content}" th:if="${num == 4 and approval['approval'].approvalStatus == 4}">
                                                <td th:text="${resultList.totalElements - ((resultList.pageable.pageSize) * (resultList.pageable.pageNumber) + approvalStat.count)+1}"></td>
                                                <td th:text="${approval['formType'].approvalBaseFormType.baseFormName}"></td>
                                                <td><a th:href="@{/approval/detail/{no}(no=${approval['approval'].approvalNo})}" th:text="${approval['approval'].approvalTitle}"></a></td>
                                                <td>회수</td>
                                                <td>ㅡ</td>
                                                <td>ㅡ</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                                    <!-- 페이징 -->
                                    <div class="col-lg-6">
									<div class="d-flex justify-content-end pagination">
									<th:block layout:fragment="pagejs">
									    <div>
									        <ul class="pagination" style="margin-top: 200px;"
									            th:with="pageNumber=${resultList.pageable.pageNumber}, 
									                     pageSize=${resultList.pageable.pageSize}, 
									                     totalPages=${resultList.totalPages}, 
									                     startPage=${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
									                     tempEndPage=${startPage + pageSize - 1},
									                     endPage=${tempEndPage < totalPages ? tempEndPage : totalPages}">
									            
									            <!-- 이전 페이지 링크 -->
									            <li class="page-item">
									                <th:block th:if="${!resultList.first}">
									                    <a class="page-link" th:href="${resultList.first} ? '#' : @{/approval/list(num=${num}, page=${pageNumber - 1})}">&lt;</a>
									                </th:block>
									            </li>
									
									            <th:block th:if="${resultList.totalElements > 0}">
									                <!-- 페이지 숫자 링크 -->
									                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
									                    <li class="page-item">
									                        <a th:text="${page}" 
									                           th:href="@{/approval/list(num=${num}, page=${page - 1})}" 
									                           class="page-link" th:classappend="${page == pageNumber + 1} ? 'active'">1</a>
									                    </li>
									                </th:block>
									
									                <!-- 다음 페이지 링크 -->
									                <li class="page-item">
									                    <th:block th:if="${!resultList.last}">
									                        <a class="page-link" th:href="${resultList.last} ? '#' : @{/approval/list(num=${num}, page=${pageNumber + 1})}">&gt;</a>
									                    </th:block>
									                </li>
									            </th:block>
									        </ul>
									    </div>
									</th:block>
									</div>
									</div>
                        </div>
                        
                    </div>
                    
                    <!--end col-->

                </div>
                <!--end col-->
            </div>
            <!--end row-->
        <th:block layout:fragment="modal"></th:block>
       
            <script src="/assets/libs/list.js/list.min.js"></script>
            <script src="/assets/libs/list.pagination.js/list.pagination.min.js"></script>
            <script src="/assets/js/pages/crm-companies.init.js"></script>
            <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
        

        </div>

    
</body>

</html>
