<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<!-- Meta and Bootstrap CSS -->
<meta charset="UTF-8">
<title>전자결재 휴가신청서 수정,삭제</title>
<!-- Bootstrap CSS -->
<th:block layout:fragment="pagetitle" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Dropzone CSS -->
<link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet"
	type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- 토스트 API -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<script
	src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<style>
#modal {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	background-color: white;
	border: 1px solid #b9b9b9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	overflow: hidden;
}

.modal-content {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	height: calc(100% - 60px); /* 버튼 영역을 제외한 공간 */
	box-sizing: border-box;
	overflow-y: auto;
}

.modal-item {
	border: 1px solid #b9b9b9;
	width: 20px;
	height: 20px;
	display: contents;
	align-items: center;
	justify-content: center;
	margin: 5px;
	cursor: pointer;
	user-select: none;
}

.modal-item.selected {
	color: cornflowerblue;
}

.modal-footer {
	display: flex;
	justify-content: center;
	padding: 10px;
	border-top: 1px solid #b9b9b9;
}

.modal-item.disabled {
	color: #b9b9b9;
	cursor: not-allowed;
}

select, input[type=date], input[type=text] {
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	height: 35px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div th:replace="partials/page-title :: page-title('전자결재 상세', '전자결재')"></div>
		<div class="row" style="margin-left: 30px;">
			<div class="col-lg-12">
				<div style="background-color: white; width: 1750px; height: 1250px;">
					<div style="margin-left: 50px; margin-top: -20px;">
						<form id="approvalForm">
							<br>
							<div class="mb-3" style="width: 600px;">
								<input type="hidden" name="approvalNo" id="approvalNo"
									th:value="${dto.approval.approvalNo}"> 
								<input type="hidden" id="csrf_token" th:value="${_csrf.token}" /> <label
									class="form-label" for="project-title-input">제목</label> 
								<input	type="text" class="form-control" id="project-title-input"
									th:value="${dto.approval.approvalTitle}" name="approval_title"
									style="width: 500px;">
							</div>
							<div class="mb-3" style="width: 600px;">
								<label class="form-label" for="project-author-input">기안자</label>
								<input type="text" class="form-control"
									th:value="${dto.employee.empName}" id="project-author-input"
									readonly style="width: 500px;" name="emp_id">
							</div>
							<div class="mb-3" style="width: 600px;">
								<label class="form-label" for="project-date-input">기안일</label> <input
									type="text" class="form-control" id="project-date-input"
									readonly style="width: 500px;" name="approval_reg_date"
									th:value=${dto.approval.approvalRegDate}>
							</div>
							<div class="mb-3" style="width: 600px;">
								<!-- status가 회수일 때 -->
								<div th:if="${dto.approval.approvalStatus == 4}">
									<label class="form-label" for="file-upload">파일첨부</label> <input
										class="form-control" id="file-upload" type="file"
										accept="image/png, image/gif, image/jpeg"
										style="width: 500px;" name="file">
								</div>
							</div>
							<div class="mb-3">
								<label class="form-label" for="references">수신참조자</label><br>
								<input id="references" type="text"
									style="width: 500px; height: 35px; border: 1px solid #d3d3d3; border-radius: 4px;"
									class="selectedName3">
							</div>

							<!-- 회수함에 있는 상태 -->
							<div class="mb-3" style="width: 600px;"
								th:if="${dto.approval.approvalStatus==4 && type==1}">
								<label class="form-label" for="project-thumbnail-img">양식</label><br>
								<select class="form-control" id="category-select"
									style="width: 200px;" name="form_code"
									onchange="updateEditorContent()">
									<option value="">-- 선택하세요 --</option>
									<option th:each="cate : ${cateList}"
										th:value="${cate.form_code}" th:text="${cate.form_name}"
										th:data-content="${cate.form_content}"
										th:selected="${dto.approvalForm.formCode == cate.form_code}">
									</option>
								</select>
								<div>
									<div
										style="margin-top: -30px; margin-left: 230px; color: #b9b9b9">
										내 잔여연차 :</div>
									<div style="margin-top: 30px; margin-bottom: 10px;">날짜</div>
									<div id="dateContent" style="width: 1000px;">
										<div th:if="${dto.approvalForm.formName.equals('반차')}">
											<input type="date" style="width: 200px;" id="singleStartDate" name="start_date"
												th:value="${dto.annualLeaveUsage.annualUsageStartDate}">
											<select style="margin-left: 10px; width: 150px;"
												name="time_period">
												<option
													th:selected="${dto.annualLeaveUsage.timePeriod == '오전'}">오전</option>
												<option
													th:selected="${dto.annualLeaveUsage.timePeriod == '오후'}">오후</option>
											</select>
										</div>
										<div th:if="${dto.approvalForm.formName != '반차'}">
											<input type="date" style="width: 200px;" id="startDate"
												name="start_date"
												th:value="${dto.annualLeaveUsage.annualUsageStartDate}">
											- <input type="date" style="width: 200px;" id="endDate"
												name="end_date"
												th:value="${dto.annualLeaveUsage.annualUsageEndDate}">
										</div>
									</div>
								</div>
							</div>
							<br>
							<div th:text="${dto.approval.approvalContent}"
								style="display: none" id="contentDiv"></div>
							<!-- 토스트 API -->
							<div class="col-lg-11" style="margin-left: -15px;">
								<label>내용</label>
								<div id="approval_edit"></div>
							</div>

							<!-- 버튼. 아이디와 empId가 같으면 회수 버튼, 그게 아니면 승인 반려로 -> 이건 나중에 수정해야함  -->
							<br>
							<div style="margin-left: 1300px; margin-top: 60px;">
								<div>
									<button type="submit" class="btn btn-secondary w-sm">재상신</button>
									<button type="button" class="btn btn-danger w-sm" id="delete">삭제</button>
								</div>
							</div>
							<!-- 합의자 결재자 확인 -->
							<div style="margin-top: -1200px; margin-left: 900px;">
								<label>합의자</label>
								<table
									style="border-collapse: collapse; border-bottom: 1px solid #d3d3d3; margin-bottom: -1px;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
									</tr>
								</table>
								<table style="border-collapse: collapse; border-spacing: 0;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName"></td>
									</tr>
								</table>
								<br> <label>결재자</label>
								<table
									style="border-collapse: collapse; border-bottom: 1px solid #d3d3d3; margin-bottom: -1px;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 130px; text-align: center;"></td>
									</tr>
								</table>
								<table style="border-collapse: collapse; border-spacing: 0;">
									<tr>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
										<td
											style="border: 1px solid #d3d3d3; width: 180px; height: 30px; text-align: center;"
											class="selectedName2"></td>
									</tr>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			// 기존 데이터 불러오면서 토스트 api 설정.
			const content = document.getElementById('contentDiv');
			const contentEditor = new toastui.Editor({
                el: document.querySelector('#approval_edit'),
                width: '1300px',
                height: '500px',
                initialValue: content.textContent,
                initialEditType: 'wysiwyg',
                previewStyle: 'vertical',
                hideModeSwitch: true
            });
		    
			document.addEventListener('DOMContentLoaded', () => {
			    contentEditor();
			    updateEditorContent();
			});

			// 카테고리 선택하면서 카테고리 선택했을 때의 스크립트 코드
			 function updateEditorContent() {
		        const selectElement = document.getElementById('category-select');
		        const selectedOption = selectElement.options[selectElement.selectedIndex];
		        const formContent = selectedOption.getAttribute('data-content');

		        // 토스트 에디터 내용 저장한 값 불러옴
		        contentEditor.setHTML(formContent);
		    }
		 </script>
		
		<script>
    	document.addEventListener('DOMContentLoaded', function() {
        
        const form = document.getElementById('approvalForm');

        // 폼 제출 시 처리 수정하기
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const id = document.getElementById('approvalNo').value;
            const payload = new FormData(form);
            const csrfToken = document.getElementById('csrf_token').value;
            const content = contentEditor.getHTML();
            payload.append("approval_content", content);
            
            payload.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            });
            fetch('/approval/leaveUpdate/'+id,{
                method: 'PUT',
                headers: {
                    'X-CSRF-TOKEN': csrfToken
                },
                body: payload
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.res_code);
                if (data.res_code === '200') {
                    Swal.fire({
                        icon: 'success',
                        title: '성공',
                        text: data.reg_msg
                    }).then(() => {
                        location.href = "/approval/list?num=0";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '실패',
                        text: data.reg_msg
                    });
                }
            });
        });
		   
        <!-- 날짜 생성 스크립트 설정 -->
            
                const select = document.getElementById('category-select');
                const content = document.getElementById('dateContent');
            
                // select 값이 변경될 때마다 실행되는 이벤트 리스너
                select.addEventListener('change', function() {
                    const selectedValue = select.value;
                    if (selectedValue == '1') {
                        content.innerHTML = '<input type="date" style="width:200px;" id="startDate" name="start_date"> -' +
                                            '<select style="margin-left:10px; width:150px;"><option>선택하세요</option><option>오전</option><option>오후</option></select>';
                    } else {
                        content.innerHTML = '<input type="date" style="width:200px;" id="startDate" name="start_date"> - ' +
                                            '<input type="date" style="width:200px;" id="endDate" name="end_date">';
                    }

                    // 새롭게 생성된 요소를 가져와서 이벤트 리스너 추가
                    const start = document.getElementById('startDate');
                    const end = document.getElementById('endDate');
                    
                    if (end) {
                        end.addEventListener('change', function() {
                            if (start.value > end.value) {
                                alert('종료일이 시작일보다 빠릅니다.');
                                end.value = ''; 
                            }
                        });
                    }
                });
    	});
    	 // 삭제
 		document.getElementById("delete").addEventListener('click',function(){
 			const id = document.getElementById('approvalNo').value;
 			const csrfToken = document.getElementById('csrf_token').value;
 			if(confirm('정말 삭제하시겠습니까?')){
 				fetch('/approval/delete/'+id,{
 					method : 'delete',
 					headers: {
 						'Content-Type': 'application/json',
 						'X-CSRF-TOKEN': csrfToken
 	                },
 	                body: JSON.stringify({ approvalNo: id })  
 				})
 				.then(response => response.json())
 		        .then(data => {
 		            console.log(data.res_code);
 		            if(data.res_code === '200') {
 						Swal.fire({
 							icon: 'success',
 							title : '성공',
 							text : data.reg_msg
 						}).then(() =>{
 							location.href = "/approval/list?num=0";
 						});
 					}else{
 						Swal.fire({
 							icon : 'error',
 							title : '실패',
 							text : data.reg_msg
 						})
 					}
 				})
 			}	
 		});
</script>


	</div>
</body>
</html>