<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" data-sidebar="light">
	

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('메인화면')"></div>
</th:block>


<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title('메인화면','홈')"></div>
		<!-- end page title -->
		<div class="row project-wrapper">
			<input type="hidden" id="empId" th:value="${empId}"> <!-- 현재 로그인한 사용자 id -->
			<div class="col-xxl-8">
				<div class="row">
					<div class="col-xl-4">
						<div class="card">
							<div class="card-body">
								<div class="card-body text-center">
									<div class="avatar-md mb-3 mx-auto">
										<div class='img-thumbnail rounded-circle shadow-none' id="candidate-img" th:style=" 'width: 100%; height: 100%; background-image: url(${session.profileImage}); background-repeat: no-repeat; background-size: cover; background-position: center'"></div>
										<!-- <img th:src="@{${empDto.empSignImage}}" alt=""
											id="candidate-img"
											class="img-thumbnail rounded-circle shadow-none"> -->
									</div>
									<input type="hidden" id="csrf_token" th:value="${_csrf.token}"/>
									<h5 id="candidate-name" class="mb-1" style="font-weight: bold;"><span th:text="${empDto.empName}">하츄핑</span> <span th:text="${empDto.jobName}">대리</span></h5>
									<h5 id="candidate-position" class="mb-1" style="font-size: 13px;"><span th:text="${empDto.deptName}">웹 개발팀</span></h5>
									<h5 id="candidate-position" class="text-muted mb-4" style="font-size: 13px"><span th:text="${empDto.empHire}">2024.07.18</span> 입사</h5>
									<div class="d-flex gap-2 justify-content-center">
										<div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 100%">
											<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked=""> 
											<label class="btn btn-outline-secondary" for="btnradio1">출근하기</label> 
											<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"> 
											<label class="btn btn-outline-secondary" for="btnradio2">퇴근하기</label> 
										</div>
									</div>
									<div class="border-0 d-flex justify-content-end">
										<p class="text-muted mb-3" style="font-size: 11px">최근 로그인 <span></span> </p>
									</div>
									<div class="border-0 d-flex">
										<h4 class="card-title mb-3"><span id="month"></span>월 근태 현황</h4>
									</div>
									
									<div class="row g-0 
">
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-start-0">
												<p class="text-muted mb-0 mb-1">출근</p>
												<h5 class="mb-0">
													<span class="counter-value">0</span>
												</h5>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-start-0 border-end-0">
												<p class="text-muted mb-0 mb-1">지각</p>
												<h5 class="mb-0">
													<span class="counter-value">0</span>
												</h5>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-end-0">
												<p class="text-muted mb-0 mb-1">연차</p>
												<h5 class="mb-0">
													<span class="counter-value">0</span>
												</h5>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!-- end card body -->
						</div>
					</div><!-- end col -->

					<div class="col-xl-8">
						<div class="card card-height-100">
							<div class="card-header align-items-center d-flex">
								<h4 class="card-title mb-0 flex-grow-1">전체 공지</h4>
							</div><!-- end card header -->

							<div class="card-body p-0">

								<div class="align-items-center p-3 justify-content-between d-flex">
									<div class="flex-shrink-0">
										<div class="text-muted">전체 <span class="fw-semibold" th:text="${count}">4</span>개의 게시물 중 <span
												class="fw-semibold">10</span>개</div>
									</div>
									<a href="/announce/create">
										<button type="button" class="btn btn-sm btn-success"><i
												class="ri-add-line align-middle me-1"></i> 게시글 작성하기</button>
									</a>
								</div><!-- end card header -->

								<div data-simplebar style="max-height: 258px;">
									<ul class="list-group list-group-flush border-dashed px-3">
										<th:block th:if="${#lists.isEmpty(announce)}">
											<li class="list-group-item ps-0">
												<div class="d-flex align-items-start">
													게시글이 없습니다.
												</div>
											</li>
										</th:block>
										<th:block th:if="${!#lists.isEmpty(announce)}" th:each="announce : ${announce}">
											<li class="list-group-item ps-0">
												<div class="d-flex align-items-start">
													<div class="flex-grow-1">
														<a th:href="@{/announce/detail/{no}(no=${announce.announce_no})}">
															<label class="form-check-label mb-0 ps-2" for="task_one" th:text="${announce.announce_title}">
																[인사 발령] 막시무스 팀장 오아이오 지사 영업팀 팀장 발령
															</label>
														</a>
													</div>
													<div class="flex-shrink-0 ms-2">
														<p class="text-muted fs-12 mb-0" th:text="${announce.reg_date}">15 Sep, 2021</p>
													</div>
												</div>
											</li>
										</th:block>
										
									</ul><!-- end ul -->
								</div>
								<div class="p-3">
									<a href="/announce" class="text-muted text-decoration-underline">전체 게시글 보기</a>
								</div>
							</div><!-- end card body -->
						</div>
					</div><!-- end col -->
					
				</div><!-- end row -->
				
				<!-- 전자 결제 -->

				<div class="row">
					<div class="col-xl-4">
						<div class="card" style="height: 277px">
							<div class="card-header align-items-center d-flex">
								<h4 class="card-title mb-0 flex-grow-1">결재 현황</h4>
								
							</div><!-- end card header -->
							
								<div class="card-body">
								<div class="mt-2">
									<span class="text-muted" th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일 hh:mm 기준')}" style="padding-left: 15px"></span>
								</div>
									<div class="row g-0 text-center p-3">
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-end-0 rounded-start">
												<p class="text-muted mb-0 mb-1">미결</p>
												<h5 class="mb-0 text-muted">
													<span class="">0</span>건
												</h5>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border" >
												<p class="mb-0 mb-1" style="color: #5178DD;">결제완료</p>
												<h5 class="mb-0" style="color: #5178DD;">
													<span class="">0</span>건
												</h5>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-start-0 rounded-end ">
												<p class="mb-0 mb-1 text-danger">반려</p>
												<h5 class="mb-0 text-danger">
													<span class="">0</span>건
												</h5>
											</div>
										</div>
									</div>
								</div>
							<div class="text-end p-3">
								<a th:href="@{/approval/leave_create/{no}(no=${1})}">
									<button type="button" class="btn btn-sm waves-effect" style="background-color: #5178DD; color: white;"><i
											class="ri-add-line align-middle me-1"></i> 결재 작성하기</button>
								</a>
							</div>
						</div>
						<!-- <div class="card">
							<div class="card-header">
								<h4 class="card-title mb-0" style="font-weight: bold;">알림</h4>
							</div>

							<div class="card-body">

								<div class="mx-n3">
									<div data-simplebar 
										data-simplebar-track="primary" style="max-height: 250px;">
										<a href="#!"
											class="text-reset notification-item d-block dropdown-item">
											<div class="d-flex">
												<div class="flex-shrink-0 avatar-xs me-3">
													<span
														class="avatar-title bg-soft-info text-info rounded-circle fs-16">
														<i class="ri-checkbox-circle-fill"></i>
													</span>
												</div>
												<div class="flex-grow-1 text-muted">
													<p class="m-0">
														Your <span class="fw-semibold text-dark">Elite</span>
														author Graphic Optimization <span class="text-secondary">reward</span>
														is ready!
													</p>

												</div>
												<div class="flex-shrink-0 ms-2">
													<div class="fs-11 text-muted">
														<i class="mdi mdi-clock-outline"></i> 30 min ago
													</div>
												</div>
											</div>
										</a> <a href="#!"
											class="text-reset notification-item d-block dropdown-item active">
											<div class="d-flex">
												<div class="flex-shrink-0 avatar-xs me-3">
													<img src="/assets/images/users/avatar-2.jpg"
														class="rounded-circle img-fluid" alt="user-pic">
												</div>
												<div class="flex-grow-1 text-muted">
													<h6 class="mb-1 fs-14">Angela Bernier</h6>
													<p class="mb-0">Answered to your comment on the cash
														flow forecast's graph 🔔.</p>
												</div>

												<div class="flex-shrink-0 ms-2">
													<div class="fs-11 text-muted">
														<i class="mdi mdi-clock-outline"></i> 01 hr ago
													</div>
												</div>
											</div>
										</a> <a href="#!"
											class="text-reset notification-item d-block dropdown-item">
											<div class="d-flex">
												<div class="flex-shrink-0 avatar-xs me-3">
													<span
														class="avatar-title bg-soft-danger text-danger rounded-circle fs-16">
														<i class="ri-message-2-fill"></i>
													</span>
												</div>
												<div class="flex-grow-1 text-muted">
													<p class="m-0">
														You have received <span class="fw-semibold text-success">20</span>
														new messages in the conversation
													</p>
												</div>
												<div class="flex-shrink-0 ms-2">
													<div class="fs-11 text-muted">
														<i class="mdi mdi-clock-outline"></i> 02 hrs ago
													</div>
												</div>
											</div>
										</a> <a href="#!"
											class="text-reset notification-item d-block dropdown-item">
											<div class="d-flex">
												<div class="flex-shrink-0 avatar-xs me-3">
													<img src="/assets/images/users/avatar-8.jpg"
														class="rounded-circle img-fluid" alt="user-pic">
												</div>
												<div class="flex-grow-1 text-muted">
													<h6 class="mb-1 fs-14">Maureen Gibson</h6>
													<p class="mb-0">We talked about a project on linkedin.</p>
												</div>
												<div class="flex-shrink-0 ms-2">
													<div class="fs-11 text-muted">
														<i class="mdi mdi-clock-outline"></i> 02 hrs ago
													</div>
												</div>
											</div>
										</a> <a href="#!"
											class="text-reset notification-item d-block dropdown-item">
											<div class="d-flex">
												<div class="flex-shrink-0 avatar-xs me-3">
													<span
														class="avatar-title bg-soft-info text-info rounded-circle fs-16">
														<i class="ri-checkbox-circle-fill"></i>
													</span>
												</div>
												<div class="flex-grow-1 text-muted">
													<p class="m-0">
														Your <span class="fw-semibold text-dark">Elite</span>
														author Graphic Optimization <span class="text-secondary">reward</span>
														is ready!
													</p>

												</div>
												<div class="flex-shrink-0 ms-2">
													<div class="fs-11 text-muted">
														<i class="mdi mdi-clock-outline"></i> 30 min ago
													</div>
												</div>
											</div>
										</a>
										<div class="text-center my-2">
											<a href="javascript:void(0);" class="text-success"><i
												class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i>
												Load more </a>
										</div>
									</div>
								</div>
							</div>
							end card body
						</div> -->
						<!-- end card -->
					</div>
					<div class="col-xxl-8">
						<div class="card card-height-100">
							<div class="card-header align-items-center d-flex">
								<h4 class="card-title mb-0 flex-grow-1">회의실 예약 내역</h4>
							</div><!-- end card header -->

							<div class="card-body p-0">

								<div class="align-items-center p-3 justify-content-between d-flex">
									<div class="flex-shrink-0">
										<div class="text-muted">전체 <span class="fw-semibold" th:text="${#lists.size(reserve)}">4</span>개</div>
									</div>
									<a href="/apps-meeting-room">
										<button type="button" class="btn btn-sm btn-success"><i
												class="ri-add-line align-middle me-1"></i> 회의실 예약하기</button>
									</a>
								</div><!-- end card header -->

								<div data-simplebar style="max-height: 114px;">
									<ul class="list-group list-group-flush border-dashed px-3">
										<th:block th:if="${#lists.isEmpty(reserve)}">
											<li class="list-group-item ps-0">
												<div class="d-flex align-items-start">
													예약한 회의실이 없습니다.
												</div>
											</li>
										</th:block>
										<th:block th:if="${!#lists.isEmpty(reserve)}" th:each="reserve : ${reserve}">
											<li class="list-group-item ps-0">
												<div class="d-flex align-items-start">
													<div class="flex-grow-1">
														<div class="d-flex align-items-start">
															<div class="form-check ps-0 flex-sharink-0">
																<span class="badge rounded-pill badge-soft-primary" th:text="${reserve.meeting_room_name}">미결</span>
															</div>
															<div class="flex-grow-1">
																 
																<label class="form-check-label mb-0 ps-2" for="task_one" th:text="${'['+reserve.meeting_room_reserve_date+'] '+reserve.meeting_room_start_time+ ' ~ ' +reserve.meeting_room_end_time}">
																	내용</label>
															</div>
														</div>
													</div>
													<div class="flex-shrink-0 ms-2">
														<p class="text-muted fs-12 mb-0" th:text="${reserve.meeting_room_place}">15 Sep, 2021</p>
													</div>
												</div>
											</li>
										</th:block>
										
									</ul><!-- end ul -->
								</div>
								<div class="p-3">
									<a href="/apps-meeting-room-reserve-list" class="text-muted text-decoration-underline">전체 예약 내역 보기</a>
								</div>
							</div><!-- end card body -->
						</div>
						<!-- end card -->
					</div><!-- end col -->
				</div>
				<!-- end row -->
					</div>
					<!-- end col -->

					<div class="col-xxl-4 ">
						<div class="card">
							<div class="card-header border-0">
								<h4 class="card-title mb-0">캘린더</h4>
							</div>
							<!-- end cardheader -->
							<div class="card-body pt-0" style="height: 670px">
								<div class="upcoming-scheduled">
									<input type="text" class="form-control"
										data-provider="flatpickr" data-date-format="d M, Y"
										data-deafult-date="today" data-inline-date="true">
								</div>

								<h6 class="text-uppercase fw-semibold mt-4 mb-3 text-muted">일정:</h6>
								<div class="ml-0" data-simplebar style="max-height: 250px" >
									<div id="eventList">
								
										<!-- <ul class="mini-stats-wid d-flex align-items-center mt-3">
											<div class="flex-shrink-0 avatar-sm">
												<span
													class="mini-stat-icon avatar-title rounded-circle text-success bg-soft-success fs-4">
													09 </span>
											</div>
											<div class="flex-grow-1 ms-3">
												<h6 class="mb-1">Development planning</h6>
												<p class="text-muted mb-0">iTest Factory</p>
											</div>
											<div class="flex-shrink-0">
												<p class="text-muted mb-0">
													9:20 <span class="text-uppercase">am</span>
												</p>
											</div>
										</ul> -->
									</div>
								</div>
								<!-- end -->
								

								<div class="mt-3 text-center">
									<a href="/apps-calendar"
										class="text-muted text-decoration-underline">
										일정 전체 보기
									</a>
								</div>

							</div>
							<!-- end cardbody -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

		
		</div><!-- end row -->

	<th:block layout:fragment="pagejs">

		<!-- apexcharts -->
		<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

		<!-- Dashboard init -->
		<script src="/assets/js/pages/dashboard-projects.init.js"></script>
	</th:block>
</body>

</html>