<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko"
      data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"
      data-preloader="disable">
<head>
    <!-- 페이지 제목 -->
    <div th:replace="partials/title-meta :: title-meta('404 Error Basic')"></div>

    <!-- CSS 스타일 -->
    <div th:replace="partials/head-css :: head-css"></div>

    <style>
        * {
            font-family: "Noto Sans KR", sans-serif !important;
        }
        body {
            background-color: white; /* 배경 흰색 */
        }
        h3, p {
            color: #003366; /* 남색 계열 텍스트 */
        }
        .btn {
            background-color: #003366;
            color: white;
        }
        .btn:hover {
            background-color: #002244;
        }
    </style>
</head>

<body>
    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden p-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="text-center">
                            <img src="assets/images/error400-cover.png" alt="error img" class="img-fluid">
                            <div class="mt-3">
                                <h3 class="text-uppercase">죄송합니다, 페이지를 찾을 수 없습니다.</h3>
                                <p class="text-muted mb-4">찾고 계신 페이지가 존재하지 않습니다.</p>
                                <a href="/" class="btn"><i class="mdi mdi-home me-1"></i>홈으로 돌아가기</a>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth-page content -->
    </div>
    <!-- end auth-page-wrapper -->
</body>
</html>
